In [20]:
import pandas as pd
from FunkSVD import FunkSVD
from FunkSVD import NMF

In [10]:
data = pd.read_csv('data/ratings_small.csv')
data.drop('timestamp',axis=1,inplace=True)

In [11]:
data

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

# FunkSVD

In [13]:
myfunk = FunkSVD()

In [17]:
myfunk.set_hyperparameters(max_epoch=10,n_latent=15)

In [18]:
myfunk.fit(data.values)

Your data has 671 distinct users and 9066 distinct items.
Your data has been split into train and test set.
Length of training set is 89289. Length of Test set is 10715
Initializing features for Users and Items...
Starting training...
Epoch Number: 1/10 Training RMSE: 0.94 Test RMSE: 0.9271262320860201
Epoch Number: 2/10 Training RMSE: 0.89 Test RMSE: 0.9019976069999753
Epoch Number: 3/10 Training RMSE: 0.87 Test RMSE: 0.8931135011787061
Epoch Number: 4/10 Training RMSE: 0.86 Test RMSE: 0.8886994343767858
Epoch Number: 5/10 Training RMSE: 0.85 Test RMSE: 0.8860493117198118
Epoch Number: 6/10 Training RMSE: 0.84 Test RMSE: 0.8842427196828986
Epoch Number: 7/10 Training RMSE: 0.83 Test RMSE: 0.8828947384133441
Epoch Number: 8/10 Training RMSE: 0.83 Test RMSE: 0.881818452093624
Epoch Number: 9/10 Training RMSE: 0.82 Test RMSE: 0.8809115164799345
Epoch Number: 10/10 Training RMSE: 0.82 Test RMSE: 0.8801120974156768
Training has ended...

# NMF

In [21]:
nmf = NMF()

In [24]:
nmf.set_hyperparameters(n_epochs=10,n_latent=15)

In [ ]:
nmf.fit(data.values)

Your data has 671 distinct users and 9066 distinct items.
Your data has been split into train and test set.
Length of training set is 89289. Length of Test set is 10715
Initializing features for Users and Items...
Epoch Number: 1/10 Training RMSE: 1.00 Test RMSE: 1.0695076251264486
Epoch Number: 2/10 Training RMSE: 0.89 Test RMSE: 0.9863234110370624
Epoch Number: 3/10 Training RMSE: 0.91 Test RMSE: 1.020579331586799
Epoch Number: 4/10 Training RMSE: 0.84 Test RMSE: 0.9655751059882817
Epoch Number: 5/10 Training RMSE: 0.88 Test RMSE: 0.9998353806200255
Epoch Number: 6/10 Training RMSE: 0.81 Test RMSE: 0.9508064277260897
Epoch Number: 7/10 Training RMSE: 0.85 Test RMSE: 0.9838905746458799
Epoch Number: 8/10 Training RMSE: 0.78 Test RMSE: 0.9391508199618339
Epoch Number: 9/10 Training RMSE: 0.82 Test RMSE: 0.9708454106539709