In [1]:
from FunkSVD import FunkSVD
import pandas as pd

data = pd.read_csv('./data/ratings_small.csv')

In [2]:
data.drop('timestamp', axis=1, inplace=True)

In [3]:
data.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [ ]:
data.userId.max()

In [ ]:
data.dtypes

In [ ]:
float ==type(1.00)

In [ ]:
data.movieId.max()

In [4]:
myFunk= FunkSVD()

In [5]:
myFunk.set_hyperparameters(max_epoch=10, early_stopping=5, n_latent=45)

In [6]:
myFunk.fit(data.values)

Your data has 671 distinct users and 9066 distinct items.
Your data has been split into train and test set.
Initializing features for Users and Items...
Starting training...
Epoch Number: 1/10 Training RMSE: 1.10 Test RMSE: 1.1847333172960108
Epoch Number: 2/10 Training RMSE: 0.97 Test RMSE: 1.0617966795338605
Epoch Number: 3/10 Training RMSE: 0.92 Test RMSE: 1.0099869573481475
Epoch Number: 4/10 Training RMSE: 0.88 Test RMSE: 0.983046343537489
Epoch Number: 5/10 Training RMSE: 0.85 Test RMSE: 0.96709726512466
Epoch Number: 6/10 Training RMSE: 0.83 Test RMSE: 0.956720666543256
Epoch Number: 7/10 Training RMSE: 0.82 Test RMSE: 0.9494715544787391
Epoch Number: 8/10 Training RMSE: 0.80 Test RMSE: 0.9441185036444179
Epoch Number: 9/10 Training RMSE: 0.79 Test RMSE: 0.9399851718208688
Epoch Number: 10/10 Training RMSE: 0.78 Test RMSE: 0.9366739651121334
Training has ended...

In [ ]:
import numpy as np

In [ ]:
x =np.asarray([1,2,3], dtype=np.float64)

In [ ]:
type(x[0]) == np.float64

In [ ]:
myFunk.item_ids[0]

In [7]:
myFunk.get_recommendation_for_existing_user('1')

['41912',
 '8821',
 '61634',
 '59180',
 '32562',
 '4466',
 '121113',
 '4834',
 '77837',
 '39234']

In [8]:
myFunk.get_similar_products('31')

['2580',
 '6187',
 '2425',
 '152081',
 '70994',
 '2610',
 '8169',
 '524',
 '2607',
 '3454']

In [11]:
myFunk.get_recommendation_for_new_user({'301':1})

['8848', '4516', '93805', '32525', '1563']

In [ ]:
movies = {}
for each in data1.values.tolist():
    movies.setdefault(each[1], 0)
    movies[each[1]] += 1

In [ ]:
movies

In [ ]:
for movie, count in movies.items():
    if count <5:
        print(movie, ' ', count)

In [ ]:
# Use this for random or grid search
for each in range(1,11):
    myFunk.set_hyperparameters(learning_rate= each*0.001)
    myFunk.fit()

In [ ]:
import numpy as np

In [ ]:
ratings = {'batman':3, 'redemption':5, 'matrix':2}

In [ ]:
get_similar_user( ratings, ):
    self.user_prediction_for_same_movies
    return

In [ ]:
 xx = {'user_id1':  [ 5, 3, 4], 'user_id2': [3,4,5]}

In [ ]:
xx

In [ ]:
xx.setdefault('yeni', []).append(123412)

In [ ]:
xx

In [ ]:
xx.setdefault('he', [])

In [ ]:
import numpy as np

In [ ]:
data = np.genfromtxt('./data/movielens100k.csv', delimiter=',')

In [ ]:
data[0]

In [ ]:
a = np.float32(5)
b = np.int32(3)
c = 'dd'

In [ ]:
try:
    a = int(a)
    b = int(b)
    c = int(c)
except:
    pass
print(c)

In [ ]:
type(c)

In [ ]:
a

In [ ]:
if a==5:
    raise ValueError('hellos')