In [1]:
from FunkSVD import FunkSVD
import pandas as pd

data = pd.read_csv('./data/ratings_small.csv')

In [2]:
data.drop('timestamp', axis=1, inplace=True)

In [3]:
data.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [ ]:
data.userId.max()

In [ ]:
data.dtypes

In [ ]:
float ==type(1.00)

In [ ]:
data.movieId.max()

In [4]:
myFunk= FunkSVD()

In [5]:
myFunk.set_hyperparameters(max_epoch=10, early_stopping=1, n_latent=45)

In [6]:
myFunk.fit(data.values)

Your data has 671 distinct users and 9066 distinct items.
Your data has been split into train and test set.
Initializing features for Users and Items...
Starting training...
Epoch Number: 1/10 Training RMSE: 1.10 Test RMSE: 1.1746169483350337
Epoch Number: 2/10 Training RMSE: 0.98 Test RMSE: 1.0533302546067864
Epoch Number: 3/10 Training RMSE: 0.92 Test RMSE: 1.0020441354058403
Epoch Number: 4/10 Training RMSE: 0.88 Test RMSE: 0.9754618634239194
Epoch Number: 5/10 Training RMSE: 0.86 Test RMSE: 0.9596771671131809
Epoch Number: 6/10 Training RMSE: 0.84 Test RMSE: 0.9493249664541388
Epoch Number: 7/10 Training RMSE: 0.82 Test RMSE: 0.9420125270731929
Epoch Number: 8/10 Training RMSE: 0.81 Test RMSE: 0.9365412228439851
Epoch Number: 9/10 Training RMSE: 0.80 Test RMSE: 0.9322540883813509
Epoch Number: 10/10 Training RMSE: 0.78 Test RMSE: 0.9287654700705251
Training has ended...

In [ ]:
import numpy as np

In [ ]:
x =np.asarray([1,2,3], dtype=np.float64)

In [ ]:
type(x[0]) == np.float64

In [7]:
myFunk.item_ids[0]

'52'

In [ ]:
myFunk.get_recommendation_for_existing_user('1.0', 5)

In [ ]:
myFunk.get_similar_products('31.0')

In [ ]:
myFunk.get_recommendation_for_new_user({'1.0':5}, 'cosine_similarity')

In [ ]:
movies = {}
for each in data1.values.tolist():
    movies.setdefault(each[1], 0)
    movies[each[1]] += 1

In [ ]:
for movie, count in movies.items():
    if count <5:
        print(movie, ' ', count)

In [ ]:
# Use this for random or grid search
for each in range(1,11):
    myFunk.set_hyperparameters(learning_rate= each*0.001)
    myFunk.fit()

In [ ]:
import numpy as np

In [ ]:
ratings = {'batman':3, 'redemption':5, 'matrix':2}

In [ ]:
get_similar_user( ratings, ):
    self.user_prediction_for_same_movies
    return

In [ ]:
 xx = {'user_id1':  [ 5, 3, 4], 'user_id2': [3,4,5]}

In [ ]:
xx

In [ ]:
xx.setdefault('yeni', []).append(123412)

In [ ]:
xx

In [ ]:
xx.setdefault('he', [])

In [ ]:
import numpy as np

In [ ]:
data = np.genfromtxt('./data/movielens100k.csv', delimiter=',')

In [ ]:
data[0]