In [1]:
from FunkSVD import FunkSVD
import pandas as pd

In [2]:
data = pd.read_csv('./data/ratings_small.csv')

In [3]:
data.drop('timestamp', axis=1, inplace=True)

In [14]:
data.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [12]:
data.userId.max()

671

In [15]:
data.movieId.max()

163949

In [5]:
myFunk= FunkSVD()

In [6]:
myFunk.train(data.values)

Your data has 671 distinct users and 9066 distinct items.

In [7]:
myFunk.set_hyperparameters(max_epoch=10)

In [8]:
myFunk.fit()

Initializing features for Users and Items...
Starting training...
Epoch Number: 1/10 Training RMSE: 1.03
Epoch Number: 2/10 Training RMSE: 0.92
Epoch Number: 3/10 Training RMSE: 0.89
Epoch Number: 4/10 Training RMSE: 0.87
Epoch Number: 5/10 Training RMSE: 0.86
Epoch Number: 6/10 Training RMSE: 0.85
Epoch Number: 7/10 Training RMSE: 0.84
Epoch Number: 8/10 Training RMSE: 0.83
Epoch Number: 9/10 Training RMSE: 0.82
Epoch Number: 10/10 Training RMSE: 0.81
Training has ended...

In [9]:
myFunk.get_recommendation_for_existing_user(5)

[5114.0,
 3848.0,
 54328.0,
 1575.0,
 183.0,
 8132.0,
 73290.0,
 6748.0,
 4405.0,
 1172.0]

In [10]:
myFunk.get_similar_products(35)

[74580.0,
 73531.0,
 8998.0,
 648.0,
 30898.0,
 70293.0,
 5053.0,
 89118.0,
 81847.0,
 3498.0]

In [ ]:
# Use this for random or grid search
for each in range(1,11):
    myFunk.set_hyperparameters(learning_rate= each*0.001)
    myFunk.fit()

In [2]:
import numpy as np

In [3]:
ratings = {'batman':3, 'redemption':5, 'matrix':2}

In [ ]:
get_similar_user( ratings, ):
    self.user_prediction_for_same_movies
    return

In [4]:
 xx = {'user_id1':  [ 5, 3, 4], 'user_id2': [3,4,5]}

In [5]:
xx

{'user_id1': [5, 3, 4], 'user_id2': [3, 4, 5]}

In [ ]:
xx.set_d